//= template/header.html

<div class="content" id="fullpage">
	<div class="section active" id="section0">

		<!-- content -->
		<div class="main-screen-content">
			<h1 class="overBg">Креативный дизайнер и<br>веб-разработчик</h1>
			<p>Привет, я - Александр Заломанин, front-end разработчик веб-дизайнер и дизайнер пользовательских интерфейсов из России.</p>
			<a href="#" class="btn btn-contact">Контакты</a>
		</div>
		<!-- end content -->
		
		<!-- social-btn -->
		<div class="social-btn">
			<ul class="social-btn__ul">
				<li><a href="#">Gh</a></li>
				<li><a href="#">Tw</a></li>
				<li><a href="#">In</a></li>
			</ul>
		</div>
		<!-- social-btn -->
		<div class="scroll-down">
			<span class="scroll-down__text">Посмотреть проекты</span>
			<div class="scroll-down__icon"></div>
		</div>
	</div>
	<div class="section" id="section1">
		<!-- content -->
		<div class="main-screen-content main-screen-content_bottom-position">
			<h1>Сделано с<br>любовью <small>&mdash;</small></h1>
			<p>Это подборка моих последних работ</p>
		</div>
		<!-- end content -->
	</div>
	<div class="section portfolio" id="section2">
		<div class="portfolio-wrap">
			<div class="portfolio-item">
				<div class="portfolio-item_col">
					<div class="line"></div>
				</div>
				<div class="portfolio-item_col"></div>
				<div class="portfolio-item_col"></div>
			</div>
			<div class="portfolio-item"></div>
		</div>
	</div>
</div>

//= template/footer.html