//= template/header.html

<div class="main">
	<div class="container">
		<div class="row">
			<div class="present">
				<!-- <h1>Hi!<br>
					I'm Alexander.<br>
					Front-end developer.</h1>
				<p>The site is currently under construction.</p> -->
				<h1>Привет!<br>
					Меня зовут Александр.<br>
					Я Front-end разработчик.</h1>
				<p>Сайт находится в разработке. =(</p>
				<p>Связаться со мной можно по <a href="mailto:dridnout@yandex.ru">e-mail</a> или в <a href="http://telegram.me/Alexander_zalomanin">telegram</a></p>
			</div>
		</div>
	</div>
</div>

//= template/footer.html