//= template/header.html


<div class="content" id="fullpage">
	<div class="section active" id="section0">
		<!-- header -->
		<header>
			<div class="left-col">
				<div class="logo">
					<img src="" alt="" class="logo__img">
				</div>
			</div>
			<div class="right-col">
				<div class="menu-btn">
					<span class="menu-btn__text">Меню</span>
					<div class="menu-btn__button">
						<span class="menu-btn__button-span"></span>
					</div>
				</div>
			</div>
		</header>
		<!-- end header -->

		<!-- content -->
		<div class="main-screen-content">
			<h1>Креативный дизайнер и<br>веб-разработчик</h1>
			<p>Привет, я - Александр Заломанин, front-end разработчик веб-дизайнер и дизайнер пользовательских интерфейсов из России.</p>
			<a href="#" class="btn btn-contact">Контакты</a>
		</div>
		<!-- end content -->

		<div class="social-btn">
			<ul class="social-btn__ul">
				<li><a href="#">Gh</a></li>
				<li><a href="#">Tw</a></li>
				<li><a href="#">In</a></li>
			</ul>
		</div>
		<div class="scroll-down">
			<span class="scroll-down__text">Посмотреть проекты</span>
			<div class="scroll-down__icon"></div>
		</div>
	</div>
	<div class="section" id="section1">
		<!-- content -->
		<div class="main-screen-content">
			<h1>Креативный дизайнер и<br>веб-разработчик</h1>
			<p>Привет, я - Александр Заломанин, front-end разработчик веб-дизайнер и дизайнер пользовательских интерфейсов из России.</p>
			<a href="#" class="btn btn-contact">Контакты</a>
		</div>
		<!-- end content -->
	</div>
</div>

//= template/footer.html