		<!-- footer -->
		
		<footer></footer>

		<!-- end footer -->
	</div>

	<!-- end main-ct -->
	

	<!-- styles -->
	<link rel="stylesheet" href="css/main.min.css">
	//= styles.html
	<!-- end styles -->


	<!-- scripts -->
	//= scripts.html
	<script src="js/common.js"></script>
	<!-- end scripts -->

	
	<!-- pgs css/js -->
	<link rel="stylesheet" href="libs/pgs-panel/css/main.css">
	<script src="libs/pgs-panel/js/main.js"></script>
	<!-- end pgs css/js -->

	//= popups.html

</body>
</html>