<div style="display: none;">
	<div class="box-modal" id="contact-us-modal">
    	<div class="box-modal_close arcticmodal-close"></div>
		<div class="contact-us-modal">
			<span class="heading">Перезвонить мне</span>
			<form action="/">
				<div class="input-group">
					<input type="text" class="name" id="name" placeholder="Представьтесь">						
				</div>
				<div class="input-group phone">
					<input type="tel" class="phone" id="phone" placeholder="+7(___)___-__-__">
				</div>
				<input type="submit" value="Отправить">
			</form>
		</div>
	</div>
</div>